body {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header > nav {
  display: flex;
  gap: 24px;
  padding: 10px 20px;
  background-color: #113448;
  color: #fff;
}
header > nav > a.logo > img {
  height: 26px;
}
header > nav > div.navr {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
header > nav > div.navr a {
  text-decoration: none;
  color: #fff;
}
header > nav > div.navr a:hover {
  color: #14bf98;
}
header > nav > div.social-icons > a.icon {
  background-image: url(Image/hexagon-green.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
}
header > nav > div.social-icons > a.icon > i {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  font-size: 16px;
}

header > nav > div.social-icons > a:hover {
  background-image: url(Image/hexagon-white.svg);
}
header > nav > div.social-icons > a:hover i {
  color: #14bf98;
}
body > div.business {
  background-image: url(Image/about.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: calc(100vh - 50px);
}
body > div.business {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
body > div.business > h3 {
  font-size: 50px;
  margin: 0%;
  font-weight: 700;
}
body > div.business > p {
  font-size: 18px;
}
body > div.business > div.discover {
  margin-top: 20px;
}

body > div.business > div.discover > a {
  text-decoration: none;
  color: #fff;
  background-color: #14bf98;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  border: #14bf98 3px solid;
}
body > div.business > div.discover > a:hover {
  background-color: transparent;
  color: #14bf98;
  border: #14bf98 3px solid;
  transition: all 0.3s ease-in-out;
}
body > div.intro {
  display: flex;
  align-items: center;
  padding: 128px;
  gap: 64px;
}
body > div.intro > div.intro-title {
  align-items: center;
  flex: 1;
}

body > div.intro > div.intro-title > p.green {
  color: #14bf98;
}
body > div.intro > div.intro-title > p.main-title {
  color: #787976;
  font-style: italic;
  text-align: justify;
}
body > div.intro > div.intro-img{
  flex: 1;
  overflow: hidden;
}
body > div.intro > div.intro-img > img{
  width: 100%;
  transition: all 0.5s ;
}
body > div.intro > div.intro-img > img:hover{
  transform: scale(1.15);
}
