body {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header > nav {
  display: flex;
  gap: 24px;
  padding: 10px 20px;
  background-color: #113448;
  color: #fff;
}
header > nav > a.logo > img {
  height: 26px;
}
header > nav > div.navr {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
header > nav > div.navr a {
  text-decoration: none;
  color: #fff;
}
header > nav > div.navr a:hover {
  color: #14bf98;
}
header > nav > div.social-icons > a.icon {
  background-image: url(Image/hexagon-green.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
}
header > nav > div.social-icons > a.icon > i {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  font-size: 16px;
}

header > nav > div.social-icons > a:hover {
  background-image: url(Image/hexagon-white.svg);
}
header > nav > div.social-icons > a:hover i {
  color: #14bf98;
}
body > div.business {
  background-image: url(Image/about.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: calc(100vh - 50px);
}
body > div.business {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
body > div.business > h3 {
  font-size: 50px;
  margin: 0%;
  font-weight: 700;
}
body > div.business > p {
  font-size: 18px;
}
body > div.business > div.discover {
  margin-top: 20px;
}

body > div.business > div.discover > a {
  text-decoration: none;
  color: #fff;
  background-color: #14bf98;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  border: #14bf98 3px solid;
}
body > div.business > div.discover > a:hover {
  background-color: transparent;
  color: #14bf98;
  border: #14bf98 3px solid;
  transition: all 0.3s ease-in-out;
}
body > div.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px;
  gap: 64px;
}
body > div.intro > div.intro-title {
  align-items: center;
  flex: 1;
}

body > div.intro > div.intro-title > p.green {
  color: #14bf98;
}
body > div.intro > div.intro-title > p.main-title {
  color: #787976;
  font-style: italic;
  text-align: justify;
}
body > div.intro > div.intro-img {
  flex: 1;
  overflow: hidden;
}
body > div.intro > div.intro-img > img {
  width: 100%;
  transition: all 0.5s;
}
body > div.intro > div.intro-img > img:hover {
  transform: scale(1.15);
}
body > div.analysis {
  display: flex;
  flex-direction: column;
  padding: 16px 0px 128px;
  text-align: justify;
  gap: 64px;

  p {
    color: #787976;
  }
}
body > div.analysis > div.card {
  text-align: center;
  justify-content: center;
}

body > div.analysis > div.card > span {
  background-image: url(Image/hexagon-green.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 35px;
  display: inline-block;
}
body > div.analysis > div.card > span > i {
  color: #fff;
  font-size: 30px;
}
div.services-title {
  text-align: center;

  h2 {
    font-size: 30px;
    color: #787976;
  }

  p.servicep {
    color: #14bf98;
  }
}
div.services > div.services-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  padding: 0px 150px;
  padding-bottom: 64px;
}
div.services > div.services-card > div.cards {
  border: solid 1px #ebe8e8;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  p.texts {
    text-align: justify;
  }
  img {
    width: 100%;
  }
  li {
    list-style: square;
    list-style-position: inside;
    color: #787976;
  }
  li::marker {
    color: #14bf98;
  }
  span.prices {
    color: #14bf98;
  }
  h3.h3grey {
    color: #787976;
  }
  a {
    position: absolute;
    text-decoration: none;
    background-color: #14bf98;
    color: #fff;
    padding: 9px 30px;
    border-radius: 5px;
    left: 50%;
    translate: -50%;
  }
  a:hover {
    background-color: #fff;
    color: #14bf98;
    border: #14bf98 solid 1px;
  }
  p.texts {
    padding: 0px 64px;
    color: #787976;
  }
}
div.customer > div.customer-title {
  text-align: center;

  p {
    color: #787976;
  }
}
div.customer > div.customer-cards {
  padding: 128px 70px;
  display: flex;
  flex-direction: column;
  flex: 1 1 1;
  gap: 64px;
  text-align: center;
  img {
    border-radius: 50%;
    width: 30%;
  }
}
div.callme {
  display: flex;
  flex-direction: column;
  background-color: #113448;
  padding: 112px 90px;
}
div.callme > div.callme-title {
  color: #fff;
  text-align: justify;
  h3 {
    color: #14bf98;
  }
  p.px {
    padding-right: 64px;
  }
}
div.callme > div.callme-input {
  a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-color: #14bf98;
  }

  input {
    width: 100%;
    background-color: #2a5d77;
    border: 1px solid #39728f;
    color: #fff;
    padding: 10px 35px;
  }
  label {
    color: #fff;
  }
  div.checkbox {
    display: flex;
    input {
      margin-right: 10px;
      width: 10%;
    }
  }
}
div.projects-img {
  display: grid;

  img {
    width: 100%;
    overflow: hidden;
    img:hover {
      transform: scale(1.1);
    }
  }
}
div.projects > div.projects-title {
  text-align: center;
  padding-top: 16px;

  h3 {
    color: #14bf98;
    font-weight: 600;
  }
  h2 {
    color: #787976;
  }
}
div.project-img {
  overflow: hidden;
}
div.projects-img {
  display: grid;
  grid-template-columns: repeat(1, auto);
  padding: 64px 64px;
  overflow: hidden;

  img {
    display: block;
    overflow: hidden;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  img:hover {
    transform: scale(1.1);
  }
}
div.team > div.team-title {
  text-align: center;
  h2 {
    color: #787976;
  }
}
div.team > div.team-img {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  padding-top: 32px;
}
div.team > div.team-img > div.person {
  text-align: center;
  overflow: hidden;
  img {
    transition: all 0.3s ease-in-out;
  }
  img:hover {
    transform: scale(1.1);
  }
}
div.team > div.team-img > div.person > div.social-icons > a.icon {
  background-image: url(Image/hexagon-green.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
}
div.team > div.team-img > div.person > div.social-icons > a.icon > i {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  font-size: 16px;
}

div.team > div.team-img > div.person > div.social-icons > a.icon > i:hover {
  background-image: url(Image/hexagon-white.svg);
}
div.team > div.team-img > div.person > div.social-icons > a.icon > i:hover {
  color: #14bf98;
}
div.about {
  display: flex;
  flex-direction: column;
  padding: 128px 64px;
}
div.about > div.about-img > img {
  width: 100%;
}
div.about > div.about-title {
  padding: 32px;
  h3 {
    color: #14bf98;
  }
  h2 {
    color: #787976;
  }
  li {
    list-style: square;
  }
  ::marker {
    color: #14bf98;
  }
}
div.about > div.about-title > div.about-number {
  display: flex;
  align-items: center;
  gap: 15px;
  span {
    color: #14bf98;
    font-size: 40px;
    font-weight: bold;
  }
}

.container {
  max-width: 100%;
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  div.projects-img {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  div.projects-img {
    grid-template-columns: repeat(4, auto);
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  body > div.intro {
    flex-direction: row;
  }
  body > div.analysis {
    flex-direction: row;
  }
  body > div.analysis > div.card {
    justify-content: left;
    text-align: left;
  }
  div.services > div.services-card {
    flex-direction: row;
  }
  div.customer > div.customer-cards {
    flex-direction: row;
  }
  div.callme {
    flex-direction: row;
  }
div.team > div.team-img {
  flex-direction: row;
}
div.about {
  flex-direction: row;
}
}
